.black {
  color: var(--color-primary);
}
@media only screen and (min-width: 20em) {

  .sundar-banner-text {
    position: absolute;
    bottom: 1em;
  }

}

@media only screen and (min-width: 20em) {

  .sundar-banner-text {
    position: absolute;
    bottom: 5em;
  }

}

@media only screen and (min-width: 60em) {

  .sundar-banner-text {
    position: absolute;
    left: 7em;
    bottom: 3em;
  }

}
